* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbar {
  width: 100%;
  display: flex;
  height: 30px;
  margin-bottom: 10px;
}

.searchbar {
  width: 70%;
}

.create-button{
  width: 30%;
  min-width: 150px;
}

.table-wrapper {
  height: calc(100dvh - 50px);
  overflow-y: visible;
}

.resource-table {
  margin: 0;
  width: 100%;
  border-collapse: separate;
  overflow-y: visible;
}

.table-header th,
.table-header {
  width: 33.33%;
  padding: 5px;
  position: sticky;
  z-index: 100;
  top: 0;
  border: 1px solid var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.table-header {
  width: 100vw;
}

.table-row {
  width: 100vw;
}

.table-row textarea {
  resize: none;
}

.delete-button {
  padding-left: 5px;
  padding-right: 5px;
}
